@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-cyan::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

.scrollbar-cyan::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
  background-color: #06b6d4;
  border-radius: 9999px;
}
